html {
  /* background textures */

  background: url("image/gray1.jpg") no-repeat center center fixed;

  /*
  background: url("image/texturetastic_gray_@2X.png") no-repeat center center fixed;
  */
  /*
  background-color: rgb(220, 220, 220);
  */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 0px;
  margin: 0px;
}

h1{
    font-family: Poiret One, Didot, sans-serif;
}

h1.project-title{
    font-size: 60pt;
}

body{
    overflow: hidden;
}

footer{
    /* anchor at bottom right */
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(0%, -50%);

    /* text style */
    font-size: 10pt;
    font-family: Consolas, sans-serif;
    color: black;
}

button{
    background: none;
    border: solid 3px white;
    color: white;
}

button:hover{
    color: black;
    border: solid 3px black;
}

.btn-label{
    margin: 20px;
    padding-bottom: 5px;
    padding-top: 5px;

    font-family: Consolas, sans-serif;
    font-size: 14pt;
}

.description{
    font-family: Cochin, sans-serif;
    font-size: 15pt;
    color: rgb(200, 200, 200);
}

.textbar{
    background-color: rgba(50, 50, 50, 0.75);

    /* text element */
    color: white;
    text-align: right;

    position: absolute;
    height: 100%;
}

.textbarAlbums{
  background-color: rgba(50, 50, 50, 0.75);

  /* text element */
  color: white;
  text-align: right;

  position: absolute;
  height: 100%;
}

.center-description{
    transform: translate(0, -50%);
    position: inherit;
    top: 50%;
}

/* General class */
.hidden{
    display: none;
}

.center{
    position: inherit;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* unique component */
#project-description{
    position: auto;
    width: 50%;
    transform: translate(100%, 0);
    text-align: right;
}

#preview{
    box-shadow: 10px 10px 5px #888888;
    border: none;
}

#introbar{
    margin: 0px;
    padding: 30px;  /* hard coded */

    width: 57%;    /* can adjust accordingly */
}

#helptext{
    width: 30%;
    right: 10%;
}

#logo{
    width: 50%;   /* adjust to media screen size */
}

#bartext{
    padding-right: 5%;
    text-align: right;
}

#helpdescription{
    text-align: center;
    padding-left: 10px;

}

#draw-btn{
    margin-right: 20px;
    margin-top: 20px;
}

#cover{

    /* div style */
    width: 500px;
    height: 500px;
    box-shadow: 0px 0px 10px 5px rgb(170, 170, 170);
    background-color: white;

    /* intact with the div overhead */
    position: absolute;
    transform: translate(+13%, -50%);
    right: 47%;
    top: 50%;

}

#disc{
    width: 500px;

    /* achoring at the center */
    position: absolute;
    transform: translate(0, -50%);
    right: 20%;
    top: 50%;
}
